<div class="storybar__container">
  <img class="storybar__upload" src="../../../assets/images/upload1.png">
  <div class="story">
    <img class="storybar_story" src="../../../assets/images/screenshot-icardi.png">
    <div class="storybar_username">mauroicardi</div>
  </div>
  <div class="story">
    <img class="storybar_story" src="../../../assets/images/screenshot-aykut.png">
    <div class="storybar_username">aykutelmas</div>
  </div>
  <div class="story">
    <img class="storybar_story" src="../../../assets/images/screenshot-gator.png">
    <div class="storybar_username">gatorboys_</div>
  </div>
  <div class="story">
    <img class="storybar_story" src="../../../assets/images/screenshot-clips.png">
    <div class="storybar_username">clips</div>
  </div>
  <div class="story">
    <img class="storybar_story" src="../../../assets/images/screenshot-9gag.png">
    <div class="storybar_username">9gag</div>
  </div>
  <div class="story">
    <img class="storybar_story" src="../../../assets/images/screenshot-gala.png">
    <div class="storybar_username">galatasaray</div>
  </div>
  <div class="story">
    <img class="storybar_story" src="../../../assets/images/screenshot-thk.png">
    <div class="storybar_username">thkuniv</div>
  </div>
</div>
