<div class="navbar__barContent">
  <div class="container">
    <mat-grid-list cols="12" rowHeight="54px">
      <mat-grid-tile colspan="2" ></mat-grid-tile>
      <mat-grid-tile colspan="3"  >
        <img class="navbar_logo" src="../../../assets/images/logoinsta.png" width="105px">
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <input type="text" class="navbar_searchBar" placeholder="Search">
      </mat-grid-tile>
      <mat-grid-tile colspan="3" style="display: flex">
        <img class="navbar_img" src="../../../assets/images/home-icon.png" width="25px">
        <img class="navbar_img" src="../../../assets/images/message-icon.png" width="25px">
        <img class="navbar_img" src="../../../assets/images/explore-icon.png" width="25px">
        <img class="navbar_img" src="../../../assets/images/love-icon.png" width="35px">
        <img class="navbar_img" src="../../../assets/images/profile.png" width="35px">
      </mat-grid-tile>
      <mat-grid-tile colspan="1"></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
