<div>
  <div class="suggestions__container">
    <div class="suggestions__header">
      <div>Suggestions for You</div>
    </div>
    <div class="suggestions__body">
      <div class="suggestions__friends">
        <img class="suggestions__image" src="../../../assets/images/profile.png">
        <div class="suggestions__username">Friend 1</div>
      </div>
      <div class="suggestions__friends">
        <img class="suggestions__image" src="../../../assets/images/profile.png">
        <div class="suggestions__username">Friend 2</div>
      </div>
      <div class="suggestions__friends">
        <img class="suggestions__image" src="../../../assets/images/profile.png">
        <div class="suggestions__username">Friend 3</div>
      </div>
      <div class="suggestions__friends">
        <img class="suggestions__image" src="../../../assets/images/profile.png">
        <div class="suggestions__username">Friend 4</div>
      </div>
    </div>

  </div>
</div>
