<div >
  <div class="post__container">
    <!--header-->
    <div class="post__header">
      <img class="post__image" src="../../../assets/images/profile.png">
      <div class="post__username">{{this.authService.userNameService}}</div>
    </div>

    <!--image "../../../assets/images/post.jpg"-->
    <div>
      <img src={{this.authService.urlService}}  width="615px">
    </div>

    <!--analytics-->
    <div>
      <div style="margin-left: 10px">
        <img class="post_reaction" src="../../../assets/images/love-icon.png">
        <img class="post_reaction"  src="../../../assets/images/comment-icon.png">
        <img class="post_reaction"  src="../../../assets/images/share-icon.png">
      </div>
      <div style="font-weight: bold; margin-left: 20px">
        {{this.authService.likeCount}} likes
      </div>
    </div>

    <!--comment-->
    <div>
      <div class="post__comment">{{this.authService.userNameService}}   {{this.commentVal}}</div>
      <input type="text" (keydown.enter)="submitComments($event.target.value)"  class="post_commentbox" placeholder="Add a comment...">
    </div>

  </div>

</div>
